.backdrop {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: grid;
    place-items: center;
    padding: 18px;
    background: var(--color-overlay);
    backdrop-filter: blur(3px);
}

.alert {
    z-index: 30;
}

.content {
    display: grid;
    place-items: center;
    width: 100%;
}